@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

nav {
    background: rgba(0, 233, 0 , 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

nav img {
    width: 30vh;
    height: 20vh;
}

nav div {
    display: flex;
    flex-flow: column;
    margin-right: 5em;
    font-size: 0.9em;
    font-style: italic;
}

nav div input , nav div select {
    margin-bottom: 1em;
}

h1 {
    background-image: url();
    text-align: center;
    font-size: 3em;
    padding: 1em 0;
    font-style: italic;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: 1em auto;
    gap: 2em
}

a {
    display: block;
    text-align: center;
}

article img {
    width: 100%;
    height: 250px;
}

article {
    width: 100%;
    box-shadow: 0 0 4px black;
}

article h2 , article p , article div{
    text-align: center;
    margin: 1em 0;
    height: 5.5em;
    padding: 0 1em;
}

article div {
    font-size: 0.9em;
}

article h2 {
    text-transform: uppercase;
    text-shadow: 0 0 1px;
    font-size: 0.9em;
}

article p {
    text-transform: uppercase;
    margin-top: 2em;
    font-style: italic;
    height: 2em;
}

button {
    padding: 0.5em;
    margin: 0.5em;
}

